#page1.gwd-play-animation .gwd-motion-path-1qjr-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["-11.6px", "1px", "-10.18px", "7.68px", "-8.7px", "3.59px", "-6px", "10.2px"], "startTimeMs": 0, "endTimeMs": 300, "easing": "linear"
    }
    , {
      "controlPoints": ["-6px", "10.2px", "-4.16px", "14.71px", "3.15px", "19.32px", "5.6px", "22.2px"], "startTimeMs": 300, "endTimeMs": 1600, "easing": "linear"
    }
    , {
      "controlPoints": ["5.6px", "22.2px", "8.79px", "25.94px", "9.89px", "27.74px", "13.2px", "30.6px"], "startTimeMs": 1600, "endTimeMs": 2900, "easing": "linear"
    }
    , {
      "controlPoints": ["13.2px", "30.6px", "15.62px", "32.7px", "20.93px", "36.81px", "23.2px", "39.4px"], "startTimeMs": 2900, "endTimeMs": 4200, "easing": "linear"
    }
    , {
      "controlPoints": ["23.2px", "39.4px", "26px", "42.6px", "26px", "42.2px", "29.6px", "45px"], "startTimeMs": 4200, "endTimeMs": 5500, "easing": "linear"
    }
    , {
      "controlPoints": ["29.6px", "45px", "29.67px", "45.05px", "38.34px", "50.58px", "38.4px", "50.6px"], "startTimeMs": 5500, "endTimeMs": 6800, "easing": "linear"
    }
    , {
      "controlPoints": ["38.4px", "50.6px", "40.13px", "51.21px", "40.36px", "53px", "43.4px", "54.7px"], "startTimeMs": 6800, "endTimeMs": 13985.7, "easing": "linear"
    }
    , {
      "controlPoints": ["43.4px", "54.7px", "44.68px", "55.41px", "46.92px", "53.91px", "48px", "54px"], "startTimeMs": 13985.7, "endTimeMs": 16914.6, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 16.9146s linear 0s 1 normal forwards running gwd-motion-path-1qjr-keys-x;
  transform: translate3d(-11.6px, 0px, 0px);
}
@keyframes gwd-motion-path-1qjr-keys-x {
  0% {
    transform: translate3d(-11.6px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.5005, 0.1707, 0.5459, 0.7303);
  }
  1.77% {
    transform: translate3d(-6px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.384, 0.2586, 0.6655, 0.6787);
  }
  9.46% {
    transform: translate3d(5.6px, 0px, 0px);
  }
  17.14% {
    transform: translate3d(13.2px, 0px, 0px);
  }
  24.83% {
    transform: translate3d(23.2px, 0px, 0px);
  }
  32.52% {
    transform: translate3d(29.6px, 0px, 0px);
  }
  40.2% {
    transform: translate3d(38.4px, 0px, 0px);
  }
  82.676% {
    transform: translate3d(43.4px, 0px, 0px);
  }
  100% {
    transform: translate3d(48px, 0px, 0px);
  }
}
#page1.gwd-play-animation .gwd-motion-path-1qjr-anim-y {
  animation: 16.9146s linear 0s 1 normal forwards running gwd-motion-path-1qjr-keys-y;
  transform: translate3d(0px, 1px, 0px);
}
@keyframes gwd-motion-path-1qjr-keys-y {
  0% {
    transform: translate3d(0px, 1px, 0px);
  }
  1.77% {
    transform: translate3d(0px, 10.2px, 0px);
  }
  9.46% {
    transform: translate3d(0px, 22.2px, 0px);
  }
  17.14% {
    transform: translate3d(0px, 30.6px, 0px);
  }
  24.83% {
    transform: translate3d(0px, 39.4px, 0px);
  }
  32.52% {
    transform: translate3d(0px, 45px, 0px);
  }
  40.2% {
    transform: translate3d(0px, 50.6px, 0px);
  }
  82.676% {
    transform: translate3d(0px, 54.7px, 0px);
  }
  100% {
    transform: translate3d(0px, 54px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}